[Unit]
Description=VNC remote desktop server
After=sshd.service

[Service]
Type=forking
ExecStart=/usr/bin/vncserver :1 -localhost no
Restart=on-failure
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
